<div>
  <div *ngIf="myItem === 'Characters'" class="caseCharacter">
    <div (click)="selectedHouse(house.name)" *ngFor="let house of houses" class="btnHouse">
      {{house.name.toUpperCase()}}
    </div>
  </div>

  <div *ngFor="let item of myResults" class="itemCharacter" >
    <app-one-character [oneCharacter]='item'></app-one-character>
  </div>
</div>