.itemCharacter {
  margin: 5px 10px;
  border-radius: 15px;
  background-color: black;
}

.btnHouse {
  color: white;
  cursor: pointer;
  padding: 8px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid darkgray;
}

.caseCharacter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
