<div class="selectors">
  <div style="color: white; padding-left: 8px; zoom: 2;">
    {{ title }}
  </div>

  <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="btn()">
    <mat-icon>arrow_drop_{{ btnVisible ? "up" : "down" }}</mat-icon>
  </button>
</div>