<app-header-selector [title]="myItem" (visible)="visible($event)"></app-header-selector>


<div *ngIf="show">

  <div class="divSubHeaderCharacter">

    <app-sort-and-search (textoSortSearch)="textoSortSearch($event)"></app-sort-and-search>

    <app-content [charactersList]="myItem" [textoSortSearchToContent]="textoSortSearchToContent"></app-content>

  </div>
</div>