.mainDiv {
  display: flex;
  color: white;
  align-items: center;
  padding-right: 25px;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  margin-bottom: -4px;
  border-radius: 9px 0 0 9px;
}

div {
  padding: 1px;
  text-align: center;
}
