<div class="animate__animated animate__fadeIn">

  <div class="mainDiv">
    <div><img src="{{oneCharacter.image}}" alt="{{oneCharacter.name}}"> </div>
    <div>{{oneCharacter.name}}</div>
    <div>{{oneCharacter.patronus}}</div>
    <div>{{oneCharacter.age != 0 ? oneCharacter.age : '' }}</div>
  </div>

</div>