.bg-image {
    /* The image used */
    // background-image: url(../assets/Castle01.jpg);
    // background-image: url(../assets/Castle02.jpg);
    // background-image: url(../assets/Castle03.jpg);
    background-image: url(../assets/Castle04.jpg);
    
    /* Add the blur effect */
    // filter: blur(3px);
    // -webkit-filter: blur(2px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .selectors{
      background-color: brown;
  }