<div class="bg-image"></div>

<div
  style="background-color: black; height: 100px; display: flex; flex-direction: row; align-items: center;  justify-content: space-between; position: fixed; z-index: 100; width: 100%;">
  <img src="../assets/logo.png" alt="Hogwarts" style="filter: invert(1); height: 85%; padding: 15px;"
    class="animate__animated animate__swing">
  <div style="color: darkgray; padding: 15px; font-weight: bold;">Hogwarts</div>
</div>

<div style="width: 100%; min-width: 300px;">
  <div class="animate__animated animate__pulse animate__infinite animate__slower"
    style=" color: black;padding-top: 30vh;font-size: 7vw;text-align: center;height: 5vh; font-family: 'New Tegomin'">
    HOGWARTS
  </div>
</div>

<div style="padding-top: 20vh;">
  <div style="padding: 0 5vw;" class="animate__animated animate__bounce">
    <app-characters></app-characters>
    <app-students></app-students>
    <app-teachers></app-teachers>
  </div>
</div>