/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Kiwi Maru, "Helvetica Neue", sans-serif;
}

* {
  font-family: Kiwi Maru, "Helvetica Neue", sans-serif;
}

.selectors {
  margin: 10px 0;
  opacity: 0.6;
  background-color: black;
  //   border-radius: 8px;
  border-radius: 0px 50px 50px 30px;
}
