*:focus {
  outline: none;
}

.title1 {
  padding: 10px;
}

.title2 {
  padding: 5px;
}

.overInput {
  min-width: 120px;
}


input {
  border: none;
  color: white;
  background-color: transparent;
  width: 140px;
}

.btnHeaderSearch {
  margin: 2px;
  margin: 3px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  flex-direction: row;
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
  justify-content: space-around;
}

.divSubHeaderCharacter {
  color: white;
  opacity: 0.6;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: right;
  flex-direction: row;
  margin: -10px 26px 0px;
  justify-content: center;
  background-color: black;
  border-radius: 0 0 10px 10px;
}


.divSubHeaderCharacterSort {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.divSubHeaderCharacterSearch {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: row;
  justify-content: space-between;
}
