<div class="divSubHeaderCharacter">

    <div class="divSubHeaderCharacterSort">
        <div class="title1">SORT BY</div>
        <div (click)="sortBy('name')" class="btnHeaderSearch">NAME</div>
        <div (click)="sortBy('patronus')" class="btnHeaderSearch">PATRONUS</div>
        <div (click)="sortBy('age')" class="btnHeaderSearch">AGE</div>
    </div>

    <div class="divSubHeaderCharacterSearch">
        <div class="title2">SEARCH</div>
        <div class="btnHeaderSearch">
            <mat-icon (click)="btnSearch(todo.value)">search</mat-icon>
            <div class="overInput"><input #todo (keyup.enter)="onEnter($event.target.value)" type="text"></div>
            <mat-icon (click)="btnCancel()">cancel</mat-icon>
        </div>
    </div>

</div>